<html>
<body>

      <form method="POST" action="/todos/createMeal">
      <!-- <label> Email: </label>
      <input type="email" name="email" value=""/>
      <br> -->
      <label> Date: </label>
      <input type="date" name="date" />
      <br>
      <label> Meal Id:</label>
      <input type="text" name="mealid" />
      <br>
      <label> Mealname:</label>
      <input type="text" name="mealname" />
      <br>
      <label> Calories:</label>
      <input type="number" name="calories" />
      <br>
      <button type="submit">ADD Meal</button>
   </form>

</body>
</html>