<html>
<body>

    <form method="POST" action="/todos/deletemeal">
        <!-- <label> Email: </label>
        <input type="email" name="email" /><br> -->
        <label>Meal id:</label>
        <input type="text" name="meal_id" /><br>
        <button type="submit">Delete Meal</button>   
    </form>

</body>
</html> 