<html>
    <body>
        
        <form method="POST" action="/todos/fetchmeal">
            <!-- <label> Email: </label>
            <input type="email" name="email" /> -->
            <label>Date: </label>
            <input type="date" name="date" />
            <button type="submit">Sign in</button>
        </form>
    
    </body>
</html>