<html>
<body>

   <h1>hello <%= email %></h1><br>
   <a href="/todos/createmeal">Create Meal </a><br><br>
   <a href="/todos/updatemeal">Update Meal</a><br><br>
   <a href="/todos/deletemeal">Delete Meal</a><br><br>
   <a href="/todos/fetchmeal">fetch Meal</a><br><br>
   
   
</body>
</html>