<html>
<body>

    <form method="POST" action="/auth/signup">
        <label> Email: </label>
        <input type="email" name="email" /><br>
        <label> Password: </label>
        <input type="password" name="password" />
        <br>
        <label> Total Calories Allowed</label>
        <input type="number" name="maxcal" />
        <br>
        <button type="submit">Sign up</button>
    </form>

</body>
</html>