<html>
    <body>
        
        <form method="POST" action="/auth/signin">
            <label> Email: </label>
            <input type="email" name="email" />
            <label> Password: </label>
            <input type="password" name="password" />
            <button type="submit">Sign in</button>
        </form>
    
    </body>
</html>