<html>
<body>

    <form method="POST" action="/todos/updatemeal">
        <!-- <label> Email: </label>
        <input type="email" name="email" /><br> -->
        <label>meal id</label>
        <input type="text" name="mealid" /><br>
        <label>New Mealname</label>
        <input type="text" name="newmeal" />
        <br>
        <label> Calories </label>
        <input type="number" name="calories" />
        <br>
        <button type="submit">Update</button>
    </form>

</body>
</html>